:root{
    --gradient-top: linear-gradient(0deg, rgba(22, 24, 19, 0) 0%, rgba(22, 24, 19, 0.1) 36.98%, rgba(22, 24, 19, 0.3) 70.83%, rgba(22, 24, 19, 0.5) 100%);
    --gradient-bottom: linear-gradient(180deg, #16181300 0%, rgba(22, 24, 19, 0.1) 21.88%, rgba(22, 24, 19, 0.2) 41.67%, rgba(22, 24, 19, 0.5) 61.98%, rgba(22, 24, 19, 0.6) 78.12%, #161813 100%);


    --sphere-gradient-one: radial-gradient(50% 50% at 20% 25%, #686868 0%, #403F3F 35%, #222222 70%, #000000 100%);
    --sphere-gradient-two: radial-gradient(51.04% 51.04% at 18.94% 26.18%, #686868 0%, #403F3F 36.98%, #222222 70.83%, #000000 100%);
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


body {
    margin: 0;
    font-family: var(--system-ui);
    height: 100%;
}

.nam {
    margin-top: -180%;  
    margin-right: -150%;    
    margin-left: -30%;
}
.grid-container-special {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px;
    background-image: none !important;
}
.map { 
    width: 100%;
    height: 100%; 
    object-fit: cover;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding-top: 25%;
}

.mapnam {
    padding-top: 17%;

}

.maptrung {
    transform: scale(1.25);
    padding-top: 10%;
}
.colorChange:hover path {   
    box-shadow: 0 0 1rem #888686;
    filter: brightness(1) saturate(150%);
}
.colorChange {
    transition: all 0.3s ease;
}


.description{
    color: white;
    font-weight: 400;
    width: 60%; 
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4%; 
    font-size: 17px;
    line-height: 1.5;
    border-radius: 15px;
}
#card{
    display: flex; 
    align-items: center;
    justify-content: center;
}
@media (max-width: 1113px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-gap: 10px;
        display: flex; 
        flex-wrap: wrap;
    }
    body {
        overflow: auto;
    }

    .map {
        display: none;
    }
    #card {
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

  
  
  .explore-section{
    position: relative;
    width: 100%;
    padding: 80px 10vw;
    color: #0a0d13;
  }
  
  .section-title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
  }


  
  .tour-card-province{
    height: 400px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0;
    overflow: hidden;
    padding: 10px;
    display: flex;
    align-items: end;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
  }
  
  .tour-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    z-index: -1;
  }
  
  .tour-card-province:hover .tour-img{
    opacity: 0.5;
    transform: scale(1.1);
  }
  
  .tour-name{
    font-weight: 700;
    color: #fff;
    -webkit-text-stroke: 0.2px #282828;
  }

  #svg-container{
    cursor: pointer;
  }

  